body {
	font-family:  sans-serif;
}
h1, h2 {
	text-align: center;
}
img {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 500px;
	margin-bottom: 0;
}
.header-bar {
	width: 80%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
	font-family: serif;
}