body {
	width: 80%;
	margin: 0 auto;
	max-width: 600px;
	min-width: 300px;
	background-color: #282a36;
	color: #f8f8f2;
	font-family:  sans-serif;
}
h1, h2 {
	text-align: center;
	font-family: 'Creepster';
}

form {
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	padding: 2em 2em;
	border: solid #f6f6f6 1px
}

label, input {
	display: block;
	margin-bottom: 0.5rem 0;
}

input:not(:last-of-type) {
	width: 100%;
	margin: 10px 0 0 0;
}

.inline {
	display: inline;
}

.radio:not(:last-of-type) {
	margin-top: 5px;
}
fieldset {
	margin: 5px;
	padding-top: 10px;
}

.inline {
	vertical-align: auto;
}

input, textarea, select {
	background-color: #44475a;
	border: 1px solid #282a36;
	color: #f8f8f2
}
label {
	margin: 10px 0;
}
select {
	min-height: 2em;
}

textarea {
	margin: 10px 0 0 0;
	width: 100%;
	min-height: 2em;
}

input[id='submit'] {
	background-color: #44475a;
	border-color: #282a36;
	color: #f8f8f2;
	margin: 0 auto;
}

input[id='submit']:hover {
	background-color: #bd93f9;
}

input[id='submit']:active {
	background-color: #bd93f9;
}

footer {
	text-align: center;
}

a {
	color: #bd93f9
}